<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HawkHacks</title>
    <link rel="stylesheet" href="/css/master.css"/>
  </head>
  <body>
    <h3>Login to Your Account</h3>
    <form class="" action="index.html" method="post">

    <label for="">UserName</label>
    <input type="text" id="userName" name="username" placeholder="Username" required>
    <input type="text" id="password" name="password" placeholder="password" required>
    </form>

    <button type = "submit">Sign In</button>
    <button type = "submit">Cancel</button>
  <p>Don't have an account? <a href="signup">Sign Up</a> </p>

  </body>
</html>
