{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- Link script -->
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <h1 class="title">INSERT TITLE HERE</h1>
        <div class="container container--login">
            <h2>Login</h2>
            
            <form  method="POST" class="login-form">
                {% csrf_token %}
            
                <input type="email" class="inputField" name="email" placeholder="Email" required>
                <input type="password" class="inputField" name="password" placeholder="Password" required>
                
                <button class="button" type="submit">Login</button>

                <h3>Need an account? Create one <a href="{% url 'signup' %}"><u>here</u></a></h1>
            </form>
        </div>
    </div>
</body>
</html>
