<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>SignUp</h3>
    <form class="" action="signup.html" method="post">
      <label for="">UserName</label>
      <input type="text" id="userName" name="username" placeholder="Create a username" required>

      <label for="">FirstName</label>
      <input type="text" id="firstname" name="firstname" placeholder="Enter your firstname" required>

      <label for="">LastName</label>
      <input type="text" id="lastname" name="lastname" placeholder="Enter your lastname" required>

      <label for="">Email Address</label>
      <input type="text" id="emailaddress" name="emailaddress" placeholder="email address" required>

      <label for="">Password</label>
      <input type="text" id="password" name="password" placeholder="password" required>

      <label for="">Confirm Password</label>
      <input type="text" id="confirmpassword" name="confirmpassword" placeholder="confirm password" required>
    </form>
  </body>
</html>
