<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>SignUp</h3>
    <form method="post">
      {% csrf_token %}
      <label for="">UserName</label>
      <input type="text" id="userName" name="username" placeholder="Create a username" required>
      
      <label for="">FirstName</label>
      <input type="text" id="firstname" name="firstname" placeholder="Enter your firstname" required>

      <label for="">LastName</label>
      <input type="text" id="lastname" name="lastname" placeholder="Enter your lastname" required>

      <label for="">Email Address</label>
      <input type="text" id="email" name="email" placeholder="email address" required>

      <label for="">Password</label>
      <input type="text" id="pass1" name="pass1" placeholder="password" required>

      <label for="">Confirm Password</label>
      <input type="text" id="pass2" name="pass2" placeholder="confirm password" required>

      <button type = "submit">Confirm</button>
    
    </form>

    
    <a href="home">Cancel</a>
    
  </body>
</html>
