{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>You're Logged In!</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css"/>

    <script src="https://scheduler.distributed.computer/dcp-client/dcp-client.js"></script>

      <script>
        const worker = new dcp.worker.Worker({
          paymentAddress: "0x9E92124DFdA6c4Db7981aB9d07ce72A75EF20AE9",
          maxWorkingSandboxes: 0,
        });
        worker.start();
           </script>
  </head>
  <body >

    <div class="logo"></div>
    <h3 class = "welcome" id="welcome">Welcome {{user}} !</h3>

    
    <div class="headline">
        <h3 class="gold-title">GRIND.</h3>
        <h3 class = "white-title">HUSTLE.</h3>
        <h3 class="gold-title">REPEAT</h3>
    </div>
    
    <div class="description">
      <h2 class = white-title>About Us</h2>
      <br>
      <p>We are the complete workout solution. Check out all of our videos on different excersizes!</p>
      <br>
      <a href="/videos">Click here to your weekly challenge videos!</a>
    </div>
    
      <button class="signup" onclick="document.location='/signup'">Sign Up</button>
      <button class="login" onclick="document.location='/signin'">Log In</button>
      
 
  

     

    
   
  


  </body>
</html>
