@font-face {
  font-family: 'Century Gothic';
  src: url(../font/CenturyGothic.ttf);
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url(../font/gothicb.ttf);
}

body{
  background-image: url('../images/Homepage-Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height:100vh;
}



p{
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 16px;
  font-size: 20px;
  color:#FDA920;
}

h2{
  font-size: 30px;
}

.uppernav{
  background-color: #FDA920;
  background-size: cover;
  width: 110%;
  height: 100px;
}

a{
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 16px;
  color: #FDA920;
}


.logo {
  background-image: url('../images/Logo_black.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -1%;
  justify-content: left;
  margin-top: -1.5%;
  height:170px;
  width:170px;
}

#logo{
  display: inline-block;
  align: left;
}

.gold-title{
    color: #FDA920;
}
.white-title{
  color: whitesmoke;
}
.welcome{
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 40px;

  text-align: center;
  color: white;
  margin-top: -5.8%;
  margin-bottom: -1.5%;

}
.headline{
  background-repeat: no-repeat;
  background-size: cover;

}

.headline h3{
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 140px;
  display: inline-block;
  align-items: center;
  margin-top: 180px;
  margin-bottom: -5px;
  height: 30vh;
}
.description{
  font-family: 'Century Gothic Bold', sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  padding: 20px;
}
.signup{
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 22px;
  font-style: bold;
  float:right;
  margin-top: -43%;
  margin-right: 10%;
  color: white;
  
  width:auto;
}

.login{
  font-family: 'Century Gothic Bold', sans-serif;
  font-size: 22px;
  font-style: bold;
  float:right;
  margin-top: -43%;
  margin-right: 3%;
  color: white;
 
  width:auto;
}

button{
  border:none;
  background-color: transparent;
  width:auto;
}

button:hover{
  font-size: 25px;
}