body{
  background-image: url('../images/karsten-winegeart-5sGYotxAuUA-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana;
  text-align: center;
  height:100vh;
}
p{
  font-size: 20px;
  color:#FDA920;
}


.uppernav{
  background-color: #FDA920;
  width: 100%;
}
a{
  color: #FDA920;
  font-size: 20px;
}

#logo{
  display: inline-block;
  align: left;
}
#welcome{
  display: inline-block;
  align: right;
}

.gold-title{
    color: #FDA920;
}
.white-title{
  color: whitesmoke;
}
.welcome{
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.headline{
  background-repeat: no-repeat;
  background-position: 125px;
  background-size: cover;

}
.headline h3{
  display: inline-block;
  align-items: center;
  height: 30vh;
  font-size: 35px;
}
.description{
  background-image: url("https://cdn.discordapp.com/attachments/974011225849614346/974873208073375744/Login_BG.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px;
}

