.background-image{
  background-image: '/Login_Signup_Background.png';
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh
}

body{
  background-image: url('../images/Login_Signup_Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana;
  text-align: center;
  height:100vh;
}
h2 {
  color: white;
}

h3 {
  color: white;
}
h3 a{
  color: #FDA920;
}

.inputField{
  border: 2px solid #FDA920;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  background-color: #494641;
}
#login-page{
  text-align: center;
  color:white;
}
.inputarea{
    border: 2px solid #FDA920;
    padding: 5px;
    border-radius: 25px;
    margin: 5px;
    background-color: #d3d3d3;
    width: 40%;
    margin: auto;
}

input{
  text-align: center;
  width: 30%;
  height: auto;
  border: 0px;
  background-color: #d3d3d3;
  align-self: center;
  color:white;
}

.button{
  border-radius: 20px;
  font-size:20px;
  border: 2px solid #FDA920;
  padding:5px;
  width:5%;
}