@font-face {
  font-family: 'Century Gothic';
  src: url(../font/CenturyGothic.ttf);
}

.background-image{
  background-image: '/Login_Signup_Background.png';
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh
}

body{
  background-image: url('../images/Login_Signup_Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  font-family: Verdana;
  text-align: center;
  height:100vh;
}
h2 {
  font-family: 'CenturyGothic', sans-serif;

  color: white;
}

h3 {
  font-family: 'CenturyGothic', sans-serif;
  color: white;
}
h3 a{
  font-family: 'CenturyGothic', sans-serif;
  color: #FDA920;
}

img{
  height:100px;
  width:100px;
}

.logo {
  background-image: url('../images/Logo_transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height:350px;
  width:350px;
}

.inputField{
  border: 5px solid #FDA920;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  height: 20px;
  width: 200px;
  
}
#login-page{
  text-align: center;
  color:white;
}
.inputarea{
    border: 2px solid #FDA920;
    padding: 5px;
    border-radius: 25px;
    margin: 5px;
    background-color: #d3d3d3;
    width: 40%;
    margin: auto;
}

input{
  text-align: center;
  width: 30%;
  height: auto;
  border: 0px;
  background-color: #d3d3d3;
  align-self: center;
  color:white;
}


.button{
  font-family: 'CenturyGothic', sans-serif;
  font-size: 40px;
  border:none;
  color: #FDA920;
  background-color: transparent;
  padding:5px;
  width:22%;
}